<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:master="http://www.brainspeedtech.com/swarm/master" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation">
  <notation:Diagram xmi:id="_oT9mQE3vEempdbFzvL3GnA" type="Master" element="_oT9mQk3vEempdbFzvL3GnA" measurementUnit="Pixel">
    <styles xmi:type="notation:DiagramStyle" xmi:id="_oT9mQU3vEempdbFzvL3GnA"/>
  </notation:Diagram>
  <master:MasterDesign xmi:id="_oT9mQk3vEempdbFzvL3GnA" name="gen-electron"/>
</xmi:XMI>
